html,
body {
    height: 100%;
    text-align: center;

}

.second-level {

    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-container {
    display: flex;
}

.brackets {
    display: flex;
    align-items: center;
    justify-content: center;
}