html,
body {
    height: 100%;
    text-align: center;

}

h1 {
    margin-top: 100px;
    position: fixed;
}

.h-modal {
    justify-content: center;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
}

h2 {
    color: black;
}

.second-level {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-container {
    display: flex;
}

.brackets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    padding: 50px;
}

.question {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option {
    width: 400px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.botao {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}